**.o
**~
.deps
Makefile
Makefile.in
README
VERSION
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
parser.c
parser.h
bibtag
bibtag-**.tar.gz
bibtag.1
bibtag.spec
rpmroot/
scanner.c
stamp-h1
tap-driver.sh
test-driver
ylwrap
parser.output
